.users {
  width: 100%;
}

.users__item {
  padding: 10px;
  border: 1px solid#E6E6E6;
  border-radius: 9px;
  margin-bottom: 5px;
  display: flex;
  min-height: 43px;
}

.users__title {
  display: flex;
  margin-bottom: 10px;
  padding: 10px;
  font-weight: 600;
}

.users__name {
  margin-right: 5px;
  flex-basis: 20%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
}

.users__id {
  width: 40px;
  margin-right: 5px;
}

.users__button {
  padding: 0 15px;
  text-decoration: none;
}