.header {
  background: #5b8bb1;
  box-shadow: 0 0 10px 0px;
  padding: 5px 0;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.header__title {
  font-size: 18px;
  color: #ffffff;
}

.header__rigt-part {
  display: flex;
  align-items: center;
  position: relative;
}

.header__link {
  cursor: pointer;
  margin-right: 30px;
}

.header__link:last-child {
  margin-right: 0;
}

.header__link_profile {
  display: flex;
  align-items: center;
  cursor: auto;
}

.header__text {
  color: #ffffff;
  font-size: 16px;
}

.header__text_user {
  margin-left: 8px;
  width: 90px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header__text_logout {
  margin-right: 8px;
}

.icon-user {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

@media (max-width: 375px) {
  .header__title {
    font-size: 15px;
  }
  .header__text {
    font-size: 14px;
  }
}