.auth {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 100px;
}

.container {
  background-color: #fefefe;
  margin: 0 auto;
  border: 1px solid #888;
  border-radius: 5px;
  max-width: 340px;
  padding: 20px 10px;
}

.auth__title {
  font-size: 25px;
  margin-bottom: 20px;
  text-align: center;
  user-select: none;
}

.auth-form {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.auth-form__item {
  margin-bottom: 10px;
  user-select: none;
}

.auth-form__input {
  font-size: 16px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  outline: none;
  width: 100%;
  padding: 5px;
}

.auth-form__input:focus {
  border-bottom: 1px solid  #2196F3;
}

.button {
  color: #FFF;
  background-color: #2196F3;
  box-shadow: 0 0 2px rgba(0,0,0,.12), 0 2px 2px rgba(0,0,0,.2);
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  transition: all .2s ease-in-out;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  text-align: center;
  user-select: none;
}

.auth-form__button {
  margin-top: 20px;
  padding: 0 26px;
  height: 36px;
}

.auth-form__error {
  font-size: 12px;
  height: 20px;
  color: #ff0000;
}

@media (max-width: 768px) {
  .button {
    font-size: 12px;
  }
  .auth__title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .auth-form__input {
    font-size: 14px;
  }
  .auth-form__item {
    margin-bottom: 6px;
  }
  .auth-form__button {
    margin-top: 11px;
  }
  .container {
    max-width: 294px;
  }
}

@media (max-width: 375px) {
  .container {
    border: none;
  }
}